body {
  padding: 2%;
  height: 400px;
  width: 400px;
  margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
/*div {
  border: 1px solid black;
}*/
.stack01 {
  background-color: red;
  height: 400px;
  width: 400px;
  position: relative;
  margin: 0 auto;
}
.group1 {
  float: right;
}
.stack02 {
  background-color: blue;
  height: 133.33px;
  width: 133.33px;
  position: relative;
}
.stack03 {
  background-color: green;
  height: 133.33px;
  width: 133.33px;
  margin-top: 133.33px;
  position: relative;
}
.group2 {
 /*float: left;*/
 /*margin-left: 200px;*/
}
.stack04 {
  background-color: yellow;
  height: 133.33px;
  width: 133.33px;
  margin-left: 133.33px;
  margin-top: 133.33px;
  position: absolute;
}
